gen/
bin/
.settings
*-sources.jar
*-sources
*-javadoc.jar
*.log
res/values/com_crashlytics_export_strings.xml
/app/build/
/build/
.gradle/
*.iml
.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/captures
app/gradle.properties
.idea/
gradle/

# mac files
.DS_Store